openapi: 3.0.0
info:
  title: Reputation Asset Library Credentials API
  description: REST API for aggregating customer feedback, managing reviews and listings, running surveys, and accessing reputation metrics and insights across locations.
  version: v3
  contact:
    name: Reputation Support
    url: https://support.reputation.com/
servers:
- url: https://api.reputation.com
  description: US Production
- url: https://api-eu.reputation.com
  description: EU Production
security:
- ApiKeyAuth: []
tags:
- name: Credentials
  description: OAuth credential management
paths:
  /v3/credentials/oauth:
    get:
      summary: Get Oauth Status
      operationId: get_credentials_oauth
      tags:
      - Credentials
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid or missing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
        '500':
          description: Internal server error
      description: "This endpoint retrieves the OAuth credentials for various locations, detailing the validity and the last refresh date of connections to different online sources like Facebook, Instagram, LinkedIn and more.\nSample Requests\nPython\nimport requests\nurl = 'https://api.reputation.com/v3/credentials/oauth'\nheaders = {\n    'Accept': 'application/json',\n    'x-api-key': 'Your API key'\n}\nresponse = requests.get(url, headers=headers)\nif response.status_code == 200:\n    print(response.json())\nelse:\n    prin"
components:
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              code:
                type: string
              message:
                type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key for authentication. For agency accounts, also include X-TENANT-ID header.
